
td.filler {
    width: 10%;
}

.dp-checkbox {
    width: 23px;
    vertical-align: top;
}

.dp-item {
    font-size: 200%;
    margin: 10px;
}

.dp-task-item {
    margin: 0 1em;
    vertical-align: top;
}
